.desktop-1920-box_21149291968box_920929209392095920899202591697211519x {
      width:1920px;
height:4151px;
box-sizing:border-box;
background-color:rgba(255,255,255,1);
display:flex;
flex-direction:column;
align-items:center;
    }

.desktop-1920-div-container {
      width:1920px;
box-sizing:border-box;
background-color:rgba(255,255,255,1);
display:flex;
gap:291.55px;
align-items:flex-start;
justify-content:space-between;
padding-left:240px;
padding-right:240px;
    }

.desktop-1920-link {
      font-weight:600;
text-align:left;
color:rgba(58,57,69,1);
font-family:Montserrat;
    }

.desktop-1920-box_211500211505x {
      width:171px;
display:flex;
gap:11px;
align-items:flex-start;
justify-content:center;
    }

.desktop-1920-symbol-copy-2x {
      box-sizing:border-box;
height:30px;
width:30px;
    }

.desktop-1920-bookie-1 {
      flex-grow:1;
width:83px;
height:60px;
line-height:60px;
letter-spacing:-0.02em;
font-size:24px;
    }

.desktop-1920-div-wfull {
      font-weight:400;
text-align:left;
color:rgba(0,0,0,1);
font-family:Inter;
    }

.desktop-1920-list-3 {
      align-items:flex-start;
display:flex;
gap:72px;
padding-right:20px;
padding-left:20px;
box-sizing:border-box;
    }

.desktop-1920-link-24 {
      align-items:center;
justify-content:center;
display:flex;
padding-bottom:30px;
padding-top:28px;
box-sizing:border-box;
    }

.desktop-1920-how-it-works-1 {
      width:98px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-item-2 {
      align-items:flex-start;
display:flex;
padding-bottom:30px;
padding-top:28px;
box-sizing:border-box;
    }

.desktop-1920-link-pricing {
      width:103px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-item-3 {
      align-items:flex-start;
display:flex;
padding-bottom:30px;
padding-top:28px;
box-sizing:border-box;
    }

.desktop-1920-link-blog {
      width:34px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-list {
      font-weight:500;
text-align:center;
color:rgba(255,255,255,1);
font-family:Inter;
gap:24px;
    }

.desktop-1920-link-19 {
      border-radius:6px;
align-items:flex-start;
display:flex;
background-color:rgba(79,70,229,1);
padding-right:21px;
padding-left:21px;
padding-bottom:11px;
padding-top:11px;
box-sizing:border-box;
    }

.desktop-1920-subscribe-1 {
      width:81px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-section {
      font-family:Inter;
margin-top:81px;
align-items:center;
flex-direction:column;
display:flex;
gap:48px;
padding-right:56px;
padding-left:56px;
box-sizing:border-box;
width:1440px;
    }

.desktop-1920-div-flex {
      align-items:center;
display:flex;
gap:80px;
width:1280px;
    }

.desktop-1920-div-1 {
      align-items:flex-start;
justify-content:center;
flex-direction:column;
display:flex;
gap:16px;
    }

.desktop-1920-heading-1x {
      font-weight:700;
text-align:left;
color:rgba(0,0,0,1);
align-items:flex-start;
display:flex;
padding-right:16px;
padding-bottom:1px;
box-sizing:border-box;
height:129px;
width:600px;
    }

.desktop-1920-books-for-women-in-t {
      width:438px;
line-height:64px;
letter-spacing:-1.6px;
font-size:64px;
    }

.desktop-1920-ptext-xl {
      font-weight:400;
text-align:left;
color:rgba(0,0,0,1);
align-items:flex-start;
display:flex;
padding-right:23px;
box-sizing:border-box;
height:60px;
width:600px;
    }

.desktop-1920-empower-your-mind-wi {
      width:577px;
line-height:30px;
font-size:20px;
flex-grow:1;
    }

.desktop-1920-div-flex-8 {
      font-weight:500;
text-align:center;
align-items:flex-start;
display:flex;
gap:12px;
height:56px;
    }

.desktop-1920-link-20 {
      color:rgba(255,255,255,1);
border-radius:6px;
align-items:flex-start;
justify-content:center;
display:flex;
background-color:rgba(79,70,229,1);
padding-right:32px;
padding-left:32px;
padding-bottom:16px;
padding-top:16px;
box-sizing:border-box;
    }

.desktop-1920-discover-the-list {
      width:130px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-link-21 {
      color:rgba(0,0,0,1);
border-radius:6px;
align-items:flex-start;
justify-content:center;
display:flex;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px rgba(209, 213, 219, 1) inset;
padding-right:32px;
padding-left:32px;
padding-bottom:16px;
padding-top:16px;
box-sizing:border-box;
    }

.desktop-1920-subscribe-2 {
      width:81px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-div-2 {
      width:600px;
    }

.desktop-1920-hero-image-1x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/4fd4d4d8db7a7b013f6dccfea8bb17bcb5930ee7.webp);
height:465px;
width:600px;
    }

.desktop-1920-div-grid {
      text-align:left;
color:rgba(0,0,0,1);
align-items:flex-start;
display:flex;
gap:56px;
width:1328px;
    }

.desktop-1920-box_919859199491996x {
      width:405.3299865722656px;
box-sizing:border-box;
display:flex;
border-radius:6px;
padding:24px;
gap:6px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:24px;
padding-left:24px;
padding-right:24px;
padding-top:24px;
    }

.desktop-1920-mail-svg-1 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:20px;
    }

.desktop-1920-mail-svg {
      height:21px;
width:20px;
    }

.desktop-1920-heading-6x {
      font-weight:600;
margin-top:5px;
align-items:flex-start;
display:flex;
padding-right:150.33px;
padding-bottom:1px;
box-sizing:border-box;
height:23.5px;
width:357.33px;
    }

.desktop-1920-fast-and-timely-deli {
      width:207px;
line-height:22.5px;
font-size:18px;
    }

.desktop-1920-popacity-60x {
      font-weight:400;
flex-grow:1;
align-items:flex-start;
display:flex;
padding-right:37px;
box-sizing:border-box;
width:357.33px;
opacity:0.6;
    }

.desktop-1920-we-ensure-you-never {
      width:320px;
line-height:26px;
font-size:16px;
flex-grow:1;
    }

.desktop-1920-box_920009200492006x {
      width:405.3299865722656px;
box-sizing:border-box;
display:flex;
border-radius:6px;
padding:24px;
gap:6px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:24px;
padding-left:24px;
padding-right:24px;
padding-top:24px;
    }

.desktop-1920-smartphone-svg-1 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:20px;
    }

.desktop-1920-smartphone-svg {
      height:21px;
width:21px;
    }

.desktop-1920-heading-6x-1 {
      font-weight:600;
margin-top:5px;
align-items:flex-start;
display:flex;
padding-right:148.33px;
padding-bottom:1px;
box-sizing:border-box;
width:357.33px;
    }

.desktop-1920-community-discussion {
      width:209px;
line-height:22.5px;
font-size:18px;
    }

.desktop-1920-popacity-60x-1 {
      font-weight:400;
flex-grow:1;
align-items:flex-start;
display:flex;
padding-right:9px;
box-sizing:border-box;
width:357.33px;
opacity:0.6;
    }

.desktop-1920-engage-in-vibrant-co {
      width:348px;
line-height:26px;
font-size:16px;
flex-grow:1;
    }

.desktop-1920-box_920109201792019x {
      width:405.3399963378906px;
box-sizing:border-box;
display:flex;
border-radius:6px;
padding:24px;
gap:6px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:24px;
padding-left:24px;
padding-right:24px;
padding-top:24px;
    }

.desktop-1920-check-circle-svg-1 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:20px;
    }

.desktop-1920-check-circle-svg {
      height:21px;
width:21px;
    }

.desktop-1920-heading-6x-2 {
      font-weight:600;
margin-top:5px;
align-items:flex-start;
display:flex;
padding-right:167.34px;
padding-bottom:1px;
box-sizing:border-box;
width:357.34px;
    }

.desktop-1920-updates-each-quarter {
      width:190px;
line-height:22.5px;
font-size:18px;
    }

.desktop-1920-popacity-60x-2 {
      font-weight:400;
flex-grow:1;
align-items:flex-start;
display:flex;
padding-right:55px;
box-sizing:border-box;
width:357.34px;
opacity:0.6;
    }

.desktop-1920-stay-at-the-forefron {
      width:302px;
line-height:26px;
font-size:16px;
flex-grow:1;
    }

.desktop-1920-box_9202292023x {
      width:1280px;
height:15px;
box-sizing:border-box;
display:flex;
color:rgba(0,0,0,1);
text-align:center;
font-weight:400;
gap:0;
align-items:center;
    }

.desktop-1920-div-border-t2x {
      width:1280px;
border-color:rgba(0,0,0,1);
border-bottom-width:0;
border-top-width:2px;
border-right-width:0;
border-left-width:0;
border-style:solid;
box-sizing:border-box;
height:2px;
flex-grow:1;
    }

.desktop-1920-link-5 {
      margin-left:-742px;
align-items:flex-start;
justify-content:center;
display:flex;
background-color:rgba(255,255,255,1);
padding-right:32px;
padding-left:32px;
box-sizing:border-box;
width:202.47000122070312px;
    }

.desktop-1920-how-it-works {
      width:125px;
line-height:27px;
font-size:18px;
    }

.desktop-1920-box_92092920939209592089x {
      font-family:Inter;
margin-top:192px;
flex-grow:1;
flex-direction:column;
display:flex;
gap:28px;
box-sizing:border-box;
width:1280px;
    }

.desktop-1920-heading-2integrat {
      width:637px;
height:60px;
color:rgba(0,0,0,1);
text-align:left;
line-height:60px;
letter-spacing:-1.2px;
font-weight:700;
font-size:48px;
    }

.desktop-1920-div-text-black {
      font-weight:400;
text-align:left;
color:rgba(0,0,0,1);
align-items:flex-start;
display:flex;
padding-right:52px;
box-sizing:border-box;
width:1024px;
    }

.desktop-1920-introducing-our-fres {
      width:972px;
line-height:30px;
font-size:20px;
flex-grow:1;
    }

.desktop-1920-div-grid-1 {
      font-weight:500;
text-align:center;
color:rgba(0,0,0,1);
flex-grow:1;
margin-top:15px;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:16px;
width:1280px;
    }

.desktop-1920-list-1 {
      align-self:stretch;
align-items:flex-start;
display:flex;
gap:16px;
width:100%;
    }

.desktop-1920-div-flex-15 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:43px;
padding-right:43px;
padding-top:28px;
    }

.desktop-1920-image-4x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/d76c7b9e2a22bff7356ca5e01c6aa80762199417.webp);
height:200px;
width:128.6px;
    }

.desktop-1920-span-font-medium {
      align-items:flex-start;
justify-content:center;
display:flex;
width:60.27px;
    }

.desktop-1920-thinking-fast-and-sl {
      width:60px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-16 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:38px;
padding-right:38px;
padding-top:28px;
    }

.desktop-1920-image-10x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/7192a0222cb7dc6efa807559346917eed40fc026.webp);
height:200px;
width:132.8px;
    }

.desktop-1920-span-font-medium-1 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:69.2px;
    }

.desktop-1920-essentialism {
      width:69px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-17 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:51px;
padding-right:51px;
padding-top:28px;
    }

.desktop-1920-image-7x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/da0b14a36f0728f1a2ccc1b86f6e9f06f89362d6.webp);
height:200px;
width:132.4px;
    }

.desktop-1920-span-font-medium-2 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:44.75px;
    }

.desktop-1920-the-moment-of-lift {
      width:45px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-18 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:54px;
padding-right:54px;
padding-top:28px;
    }

.desktop-1920-image-9x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/fda4ab17672a698511cc9792e0cc0eb3a43a6452.webp);
height:200px;
width:130.6px;
    }

.desktop-1920-span-font-medium-3 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:37.95px;
    }

.desktop-1920-creative-confidence {
      width:38px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-19 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:42px;
padding-right:42px;
padding-top:28px;
    }

.desktop-1920-image-8x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/7aa0cfeb00709893cd1283db105c55db06bbf4fb.webp);
height:200px;
width:130px;
    }

.desktop-1920-span-font-medium-4 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:61.08px;
    }

.desktop-1920-start-with-why {
      width:61px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-list-2 {
      align-self:stretch;
align-items:flex-start;
display:flex;
gap:16px;
width:100%;
    }

.desktop-1920-div-flex-20 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:43px;
padding-right:43px;
padding-top:28px;
    }

.desktop-1920-image-3x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/c01e088bce2ea9245b96ad0d8dc27cfa3aa33571.webp);
height:200px;
width:131.38px;
    }

.desktop-1920-span-font-medium-5 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:60.27px;
    }

.desktop-1920-the-culture-map {
      width:60px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-21 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:38px;
padding-right:38px;
padding-top:28px;
    }

.desktop-1920-image-12x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/8233c8e5e5491464a201913732058595bf18e35e.webp);
height:200px;
width:131.6px;
    }

.desktop-1920-span-font-medium-6 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:69.2px;
    }

.desktop-1920-no-rules-rules {
      width:69px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-22 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:51px;
padding-right:51px;
padding-top:28px;
    }

.desktop-1920-image-2x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/4e9f899f9b285bc5a7a84f1a06903bcd772d5295.webp);
height:200px;
width:131.2px;
    }

.desktop-1920-span-font-medium-7 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:44.75px;
    }

.desktop-1920-the-choice {
      width:45px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-23 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:54px;
padding-right:54px;
padding-top:28px;
    }

.desktop-1920-image-6x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/91092ddb5081e92c537ad5db0d5cb6f87924a393.webp);
height:200px;
width:132.6px;
    }

.desktop-1920-span-font-medium-8 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:37.95px;
    }

.desktop-1920-inspired {
      width:38px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-24 {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(243,244,246,1);
display:flex;
border-radius:12px;
gap:16px;
flex-direction:column;
justify-content:center;
align-items:center;
padding-bottom:28px;
padding-left:42px;
padding-right:42px;
padding-top:28px;
    }

.desktop-1920-image-11x {
      background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/ff39c2c019035345d1f4252fb42fdd1911374a33.webp);
height:200px;
width:131.4px;
    }

.desktop-1920-span-font-medium-9 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:61.08px;
    }

.desktop-1920-becoming {
      width:61px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-flex-2 {
      font-weight:500;
text-align:center;
color:rgba(255,255,255,1);
margin-top:12px;
align-items:flex-start;
justify-content:center;
display:flex;
padding-right:563px;
padding-left:563px;
box-sizing:border-box;
width:1280px;
    }

.desktop-1920-link-4 {
      border-radius:6px;
align-items:flex-start;
justify-content:center;
display:flex;
background-color:rgba(79,70,229,1);
padding-right:33px;
padding-left:33px;
padding-bottom:15px;
padding-top:15px;
box-sizing:border-box;
    }

.desktop-1920-subscribe {
      width:81px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-section-1 {
      color:rgba(0,0,0,1);
font-family:Inter;
margin-top:191px;
align-items:flex-end;
display:flex;
gap:80px;
height:389px;
width:1280px;
    }

.desktop-1920-div {
      align-items:flex-start;
flex-direction:column;
display:flex;
gap:48px;
width:600px;
    }

.desktop-1920-div-mb-12x-1 {
      text-align:left;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:25px;
width:600px;
    }

.desktop-1920-heading-2created {
      width:295px;
line-height:60px;
letter-spacing:-1.2px;
font-weight:700;
font-size:48px;
    }

.desktop-1920-div-text-black-2 {
      font-weight:400;
align-items:flex-start;
display:flex;
padding-right:11px;
box-sizing:border-box;
width:600px;
    }

.desktop-1920-the-community-of-lik {
      width:589px;
line-height:30px;
font-size:20px;
flex-grow:1;
    }

.desktop-1920-box_92040box_9203292053x {
      width:600px;
height:196px;
box-sizing:border-box;
display:flex;
text-align:center;
gap:0;
flex-direction:column;
align-items:center;
padding-right:9px;
    }

.desktop-1920-link-22 {
      border-radius:12px;
padding-right:50px;
padding-bottom:35px;
padding-left:48px;
padding-top:32px;
box-shadow-width:2px;
box-shadow:0px 0px 0px 2px rgba(229, 231, 235, 1) inset;
box-sizing:border-box;
    }

.desktop-1920-box_box_920419204992051x {
      width:100%;
height:100%;
align-items:center;
justify-content:space-between;
flex-direction:column;
display:flex;
gap:10px;
box-sizing:border-box;
    }

.desktop-1920-box_9204192049x {
      font-weight:700;
align-items:center;
justify-content:space-between;
flex-direction:column;
display:flex;
gap:10px;
box-sizing:border-box;
    }

.desktop-1920-svg-3 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:24px;
    }

.desktop-1920-frame-7 {
      height:24px;
width:25px;
    }

.desktop-1920-span-text-base {
      align-items:flex-start;
justify-content:center;
display:flex;
width:76.08px;
    }

.desktop-1920-members-from {
      width:72px;
line-height:20px;
font-size:16px;
    }

.desktop-1920-div-text-sm-1 {
      font-weight:400;
align-items:flex-start;
justify-content:center;
display:flex;
width:81.27px;
    }

.desktop-1920-countries {
      width:81px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-box_9203292053x {
      box-sizing:border-box;
gap:231px;
display:flex;
justify-content:space-between;
align-items:center;
margin-top:-148px;
width:591px;
    }

.desktop-1920-link-25 {
      border-radius:12px;
position:relative;
flex-grow:1;
justify-content:center;
display:flex;
box-shadow-width:2px;
box-shadow:0px 0px 0px 2px rgba(229, 231, 235, 1) inset;
padding-right:8px;
padding-left:8px;
padding-bottom:66px;
padding-top:32px;
box-sizing:border-box;
height:100%;
    }

.desktop-1920-box_9203392036x {
      font-weight:700;
width:100%;
height:100%;
align-items:center;
justify-content:space-between;
flex-direction:column;
display:flex;
gap:10px;
box-sizing:border-box;
    }

.desktop-1920-svg-4 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:24px;
    }

.desktop-1920-frame-6 {
      height:24px;
width:24px;
    }

.desktop-1920-span-text-base-1 {
      align-items:flex-start;
justify-content:center;
display:flex;
padding-right:29px;
padding-left:27px;
box-sizing:border-box;
width:164px;
    }

.desktop-1920-empowering-women {
      width:95px;
line-height:20px;
font-size:16px;
    }

.desktop-1920-div-text-sm-2 {
      font-weight:400;
position:absolute;
bottom:35px;
left:48px;
align-items:flex-start;
justify-content:center;
display:flex;
width:81.2699966430664px;
    }

.desktop-1920-since-2020x {
      width:74px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-box_box_920549205792059x {
      height:100%;
box-sizing:border-box;
box-shadow:0px 0px 0px 2px rgba(229, 231, 235, 1) inset;
box-shadow-width:2px;
display:flex;
flex-grow:1;
border-radius:12px;
gap:10px;
flex-direction:column;
justify-content:space-between;
align-items:center;
padding-bottom:35px;
padding-left:33px;
padding-right:33px;
padding-top:32px;
    }

.desktop-1920-box_9205492057x {
      font-weight:700;
width:100%;
align-items:center;
justify-content:space-between;
flex-direction:column;
display:flex;
gap:10px;
box-sizing:border-box;
    }

.desktop-1920-svg-5 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:24px;
    }

.desktop-1920-frame-5 {
      height:24px;
width:25px;
    }

.desktop-1920-span-text-base-2 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:114.19px;
    }

.desktop-1920-books-delivered {
      width:70px;
line-height:20px;
font-size:16px;
    }

.desktop-1920-div-text-sm-3 {
      font-weight:400;
align-items:flex-start;
justify-content:center;
display:flex;
width:81.27px;
    }

.desktop-1920-component-3 {
      width:56px;
line-height:21px;
font-size:14px;
    }

.desktop-1920-div-relative {
      text-align:left;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:20px;
padding-bottom:28px;
box-sizing:border-box;
width:600px;
    }

.desktop-1920-div-flex-4 {
      align-items:center;
justify-content:space-between;
display:flex;
gap:512px;
padding-bottom:16px;
padding-top:16px;
box-sizing:border-box;
width:600px;
    }

.desktop-1920-svg {
      align-items:flex-start;
justify-content:center;
display:flex;
width:32px;
    }

.desktop-1920-frame-4 {
      height:32px;
width:32px;
    }

.desktop-1920-div-flex-12 {
      align-items:flex-start;
display:flex;
gap:8px;
    }

.desktop-1920-svg-1 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:24px;
    }

.desktop-1920-frame-3 {
      height:24px;
width:24px;
    }

.desktop-1920-svg-2 {
      align-items:flex-start;
justify-content:center;
display:flex;
width:24px;
    }

.desktop-1920-frame-2 {
      height:24px;
width:24px;
    }

.desktop-1920-div-3 {
      align-items:flex-start;
flex-direction:column;
display:flex;
gap:32px;
width:600px;
    }

.desktop-1920-div-text-black-3 {
      font-weight:400;
align-items:flex-start;
display:flex;
padding-right:1px;
box-sizing:border-box;
    }

.desktop-1920-the-women-in-tech-bo {
      line-height:30px;
font-size:20px;
width:599px;
    }

.desktop-1920-div-flex-13 {
      align-items:center;
display:flex;
gap:20px;
padding-right:366px;
box-sizing:border-box;
width:600px;
    }

.desktop-1920-f42b-03003ecc-45ae-663d-262469a-36jpeg {
      border-radius:8px;
background-size:cover;
background-position:center;
background-image:url(https://uortjlczjmucmpaqqhqm.supabase.co/storage/v1/object/public/firejet-converted-images/images/9ce1b58aecd4ef61664409fcdd66adf48254ccb2.webp);
box-sizing:border-box;
height:64px;
width:64px;
    }

.desktop-1920-div-flex-25 {
      align-items:flex-start;
flex-direction:column;
display:flex;
    }

.desktop-1920-span-font-semibold {
      font-weight:600;
align-items:flex-start;
display:flex;
padding-right:65.38px;
box-sizing:border-box;
width:150.38px;
    }

.desktop-1920-monica-p {
      width:85px;
line-height:27px;
font-size:18px;
    }

.desktop-1920-span {
      font-weight:400;
align-items:flex-start;
display:flex;
width:150.38px;
    }

.desktop-1920-software-engineer {
      width:139px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-section-2 {
      font-family:Inter;
margin-top:191px;
align-items:center;
flex-direction:column;
display:flex;
gap:32px;
background-color:rgba(214,249,252,1);
padding-right:320px;
padding-left:320px;
padding-bottom:81px;
padding-top:81px;
box-sizing:border-box;
    }

.desktop-1920-div-mb-12x {
      text-align:left;
color:rgba(0,0,0,1);
align-items:flex-start;
flex-direction:column;
display:flex;
gap:25px;
padding-right:256px;
box-sizing:border-box;
width:1280px;
    }

.desktop-1920-heading-2pricing {
      width:159px;
line-height:60px;
letter-spacing:-1.2px;
font-weight:700;
font-size:48px;
    }

.desktop-1920-div-text-black-1 {
      font-weight:400;
align-items:flex-start;
display:flex;
padding-right:61px;
box-sizing:border-box;
width:1024px;
    }

.desktop-1920-three-simple-plans {
      width:963px;
line-height:30px;
font-size:20px;
    }

.desktop-1920-div-flex-3 {
      align-items:flex-start;
justify-content:space-between;
display:flex;
gap:788.98px;
width:1280px;
    }

.desktop-1920-box_9170491710x {
      width:356px;
height:36px;
box-sizing:border-box;
display:flex;
gap:9px;
align-items:center;
justify-content:space-between;
    }

.desktop-1920-div-flex-27 {
      box-sizing:border-box;
background-color:rgba(255,255,255,1);
display:flex;
flex-grow:1;
border-radius:6px;
padding:4px;
text-align:center;
font-weight:500;
gap:2px;
align-items:center;
padding-bottom:4px;
padding-left:4px;
padding-right:4px;
padding-top:4px;
    }

.desktop-1920-button-5 {
      color:rgba(0,0,0,1);
padding:8px;
border-radius:4px;
align-items:flex-start;
justify-content:center;
display:flex;
background-color:rgba(243,244,246,1);
box-sizing:border-box;
    }

.desktop-1920-billed-quarterly {
      width:87px;
line-height:12px;
font-size:12px;
    }

.desktop-1920-button-6 {
      color:rgba(0,0,0,0.5);
padding:8px;
border-radius:4px;
align-items:flex-start;
justify-content:center;
display:flex;
box-sizing:border-box;
    }

.desktop-1920-billed-yearly {
      width:70px;
line-height:12px;
font-size:12px;
    }

.desktop-1920-span-pl-3x {
      font-weight:400;
text-align:left;
color:rgba(0,0,0,1);
opacity:0.5;
    }

.desktop-1920-save-20by-paying-y {
      width:152px;
line-height:18px;
font-size:12px;
    }

.desktop-1920-div-4 {
      font-weight:500;
text-align:center;
    }

.desktop-1920-div-inline-flex {
      padding:4px;
border-radius:6px;
align-items:center;
display:flex;
gap:2.01px;
background-color:rgba(255,255,255,1);
box-sizing:border-box;
    }

.desktop-1920-button-2 {
      color:rgba(0,0,0,1);
padding:8px;
border-radius:4px;
align-items:flex-start;
justify-content:center;
display:flex;
background-color:rgba(243,244,246,1);
box-sizing:border-box;
    }

.desktop-1920-usd {
      width:26px;
line-height:12px;
font-size:12px;
    }

.desktop-1920-button-3 {
      color:rgba(0,0,0,0.5);
padding:8px;
border-radius:4px;
align-items:flex-start;
justify-content:center;
display:flex;
box-sizing:border-box;
    }

.desktop-1920-eur {
      width:24px;
line-height:12px;
font-size:12px;
    }

.desktop-1920-button-4 {
      color:rgba(0,0,0,0.5);
padding:8px;
border-radius:4px;
align-items:flex-start;
justify-content:center;
display:flex;
box-sizing:border-box;
    }

.desktop-1920-gbp {
      width:25px;
line-height:12px;
font-size:12px;
    }

.desktop-1920-div-flex-wrap {
      border-radius:6px;
align-items:center;
display:flex;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px white inset;
position:relative;
padding-right:856px;
padding-bottom:1px;
padding-top:1px;
box-sizing:border-box;
height:374px;
width:1278px;
    }

.desktop-1920-box_918159172191817x {
      width:100%;
height:100%;
align-items:flex-end;
flex-direction:column;
display:flex;
box-sizing:border-box;
    }

.desktop-1920-div-top-16x-2 {
      font-weight:500;
text-align:left;
color:rgba(0,0,0,1);
align-items:flex-start;
display:flex;
border-color:rgba(255,255,255,1);
border-bottom-width:0;
border-top-width:0;
border-right-width:1px;
border-left-width:0;
border-style:solid;
border-top-left-radius:6px;
background-color:rgba(214,249,252,1);
padding-right:320px;
padding-left:40px;
padding-bottom:13px;
padding-top:27px;
box-sizing:border-box;
width:421px;
    }

.desktop-1920-heading-5starter {
      width:61px;
line-height:22.5px;
font-size:18px;
    }

.desktop-1920-div-flex-14 {
      text-align:left;
color:rgba(0,0,0,1);
flex-grow:1;
margin-top:-1px;
align-items:flex-start;
flex-direction:column;
display:flex;
border-color:rgba(255,255,255,1);
border-bottom-width:0;
border-top-width:0;
border-right-width:1px;
border-left-width:0;
border-style:solid;
padding-right:41px;
padding-left:40px;
padding-bottom:99px;
padding-top:8px;
box-sizing:border-box;
width:426px;
    }

.desktop-1920-div-py-8x-1 {
      padding-right:186px;
padding-bottom:33px;
padding-top:31px;
box-sizing:border-box;
height:92px;
width:345px;
    }

.desktop-1920-box_9172391724x {
      width:100%;
height:100%;
align-items:flex-end;
justify-content:space-between;
display:flex;
gap:6px;
box-sizing:border-box;
    }

.desktop-1920-component-1 {
      flex-grow:1;
width:95px;
height:28px;
line-height:28px;
font-weight:700;
font-size:48px;
    }

.desktop-1920-quarter-1 {
      width:58px;
height:16px;
line-height:16px;
font-weight:400;
font-size:14px;
    }

.desktop-1920-div-grid-5 {
      width:345px;
    }

.desktop-1920-div-9 {
      padding-right:68px;
padding-bottom:33px;
box-sizing:border-box;
height:88px;
width:345px;
    }

.desktop-1920-box_box_917339214891739x {
      width:100%;
height:100%;
justify-content:space-between;
flex-direction:column;
display:flex;
gap:11px;
box-sizing:border-box;
    }

.desktop-1920-box_9173392148x {
      width:100%;
align-items:center;
justify-content:space-between;
display:flex;
gap:4px;
box-sizing:border-box;
    }

.desktop-1920-component-4 {
      width:8px;
height:22px;
line-height:22.5px;
font-weight:500;
font-size:15px;
    }

.desktop-1920-paper-book-of-your-c {
      flex-grow:1;
width:264px;
height:16px;
line-height:16px;
font-weight:400;
font-size:14px;
    }

.desktop-1920-community-based-even-1 {
      width:193px;
height:23px;
line-height:22.5px;
font-weight:500;
font-size:15px;
    }

.desktop-1920-div-border-b1 {
      font-weight:500;
text-align:center;
color:rgba(79,70,229,1);
margin-top:-72px;
align-items:flex-start;
justify-content:center;
display:flex;
border-color:rgba(255,255,255,1);
border-bottom-width:0;
border-top-width:0;
border-right-width:1px;
border-left-width:0;
border-style:solid;
border-bottom-left-radius:6px;
border-top-left-radius:6px;
background-color:rgba(214,249,252,1);
padding-right:40px;
padding-left:40px;
padding-bottom:41px;
padding-top:8px;
box-sizing:border-box;
width:421px;
    }

.desktop-1920-link-23 {
      border-radius:6px;
align-items:flex-start;
justify-content:center;
display:flex;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px rgba(209, 213, 219, 1) inset;
background-color:rgba(255,255,255,1);
padding-right:120px;
padding-left:120px;
padding-bottom:11px;
padding-top:11px;
box-sizing:border-box;
flex-grow:1;
    }

.desktop-1920-sign-up-3 {
      width:60px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-div-flex-6 {
      font-weight:500;
text-align:center;
color:rgba(79,70,229,1);
margin-right:auto;
margin-left:auto;
bottom:25px;
right:0;
justify-content:center;
display:flex;
border-color:rgba(255,255,255,1);
border-bottom-width:0;
border-top-width:0;
border-right-width:1px;
border-left-width:0;
border-style:solid;
left:0;
position:absolute;
padding-right:40px;
padding-left:40px;
padding-bottom:18px;
padding-top:223px;
box-sizing:border-box;
height:287px;
width:426px;
    }

.desktop-1920-link-16 {
      border-radius:6px;
align-items:flex-start;
justify-content:center;
display:flex;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px rgba(209, 213, 219, 1) inset;
background-color:rgba(255,255,255,1);
padding-right:121px;
padding-left:120px;
padding-bottom:11px;
padding-top:11px;
box-sizing:border-box;
width:346px;
    }

.desktop-1920-sign-up {
      width:60px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-div-flex-7 {
      text-align:left;
color:rgba(0,0,0,1);
bottom:25px;
right:0;
align-items:flex-start;
flex-direction:column;
display:flex;
border-color:rgba(255,255,255,1);
border-bottom-width:0;
border-top-width:0;
border-right-width:1px;
border-left-width:0;
border-style:solid;
position:absolute;
padding-right:41px;
padding-left:40px;
padding-bottom:99px;
padding-top:8px;
box-sizing:border-box;
width:426px;
    }

.desktop-1920-div-py-8x {
      padding-right:153px;
padding-bottom:33px;
padding-top:31px;
box-sizing:border-box;
height:92px;
width:345px;
    }

.desktop-1920-box_9220392204x {
      width:100%;
height:100%;
align-items:flex-end;
justify-content:space-between;
display:flex;
gap:8px;
box-sizing:border-box;
    }

.desktop-1920-component {
      flex-grow:1;
width:126px;
height:28px;
line-height:28px;
font-weight:700;
font-size:48px;
    }

.desktop-1920-quarter {
      width:58px;
height:16px;
line-height:16px;
font-weight:400;
font-size:14px;
    }

.desktop-1920-div-grid-4 {
      width:345px;
    }

.desktop-1920-div-5 {
      padding-right:65px;
padding-bottom:33px;
box-sizing:border-box;
height:88px;
width:345px;
    }

.desktop-1920-box_box_922079220892209x {
      width:100%;
height:100%;
justify-content:space-between;
flex-direction:column;
display:flex;
gap:11px;
box-sizing:border-box;
    }

.desktop-1920-box_9220792208x {
      width:100%;
align-items:center;
justify-content:space-between;
display:flex;
gap:4px;
box-sizing:border-box;
    }

.desktop-1920-component-2 {
      width:18px;
height:22px;
line-height:22.5px;
font-weight:500;
font-size:15px;
    }

.desktop-1920-paper-books-of-aqua {
      flex-grow:1;
width:257px;
height:16px;
line-height:16px;
font-weight:400;
font-size:14px;
    }

.desktop-1920-community-based-even {
      width:193px;
height:23px;
line-height:22.5px;
font-weight:500;
font-size:15px;
    }

.desktop-1920-div-top-16x {
      font-weight:500;
text-align:left;
color:rgba(0,0,0,1);
margin-right:auto;
margin-left:auto;
top:0;
right:0;
left:0;
align-items:flex-start;
display:flex;
background-color:rgba(214,249,252,1);
position:absolute;
padding-right:265px;
padding-left:40px;
padding-bottom:13px;
padding-top:27px;
box-sizing:border-box;
width:426px;
    }

.desktop-1920-heading-5premium {
      width:121px;
line-height:22.5px;
font-size:18px;
    }

.desktop-1920-div-border-b {
      font-weight:500;
text-align:center;
color:rgba(79,70,229,1);
margin-right:auto;
margin-left:auto;
bottom:0;
right:0;
justify-content:center;
display:flex;
background-color:rgba(214,249,252,1);
left:0;
position:absolute;
padding-right:40px;
padding-left:40px;
padding-bottom:41px;
padding-top:8px;
box-sizing:border-box;
height:95px;
width:426px;
    }

.desktop-1920-link-17 {
      border-radius:6px;
align-items:flex-start;
justify-content:center;
display:flex;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px rgba(209, 213, 219, 1) inset;
background-color:rgba(255,255,255,1);
padding-right:121px;
padding-left:120px;
padding-bottom:11px;
padding-top:11px;
box-sizing:border-box;
width:346px;
    }

.desktop-1920-sign-up-1 {
      width:60px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-div-top-16x-1 {
      font-weight:500;
text-align:left;
color:rgba(0,0,0,1);
top:0;
right:0;
align-items:flex-start;
display:flex;
border-color:rgba(255,255,255,1);
border-bottom-width:0;
border-top-width:0;
border-right-width:0;
border-left-width:1px;
border-style:solid;
border-top-right-radius:6px;
background-color:rgba(214,249,252,1);
position:absolute;
padding-right:277px;
padding-left:41px;
padding-bottom:13px;
padding-top:27px;
box-sizing:border-box;
width:426px;
    }

.desktop-1920-heading-5enterpri {
      width:108px;
line-height:22.5px;
font-size:18px;
    }

.desktop-1920-div-bg-white {
      font-weight:500;
text-align:center;
color:rgba(79,70,229,1);
bottom:0;
right:0;
align-items:flex-start;
justify-content:center;
display:flex;
border-color:rgba(255,255,255,1);
border-bottom-width:0;
border-top-width:0;
border-right-width:0;
border-left-width:1px;
border-style:solid;
border-bottom-right-radius:4px;
background-color:rgba(214,249,252,1);
position:absolute;
padding-right:40px;
padding-left:41px;
padding-bottom:41px;
padding-top:8px;
box-sizing:border-box;
width:426px;
    }

.desktop-1920-link-18 {
      border-radius:6px;
align-items:flex-start;
justify-content:center;
display:flex;
box-shadow-width:1px;
box-shadow:0px 0px 0px 1px rgba(209, 213, 219, 1) inset;
background-color:rgba(255,255,255,1);
padding-right:126px;
padding-left:125px;
padding-bottom:11px;
padding-top:11px;
box-sizing:border-box;
flex-grow:1;
    }

.desktop-1920-sign-up-2 {
      width:60px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-div-container-1 {
      width:1920px;
height:620px;
box-sizing:border-box;
background-color:rgba(243,244,246,0.5);
display:flex;
font-family:Inter;
gap:48px;
flex-direction:column;
justify-content:flex-start;
align-items:flex-start;
padding-bottom:51px;
padding-left:240px;
padding-right:240px;
padding-top:80px;
    }

.desktop-1920-div-grid-3 {
      align-items:flex-start;
display:flex;
gap:24px;
width:1440px;
    }

.desktop-1920-layout-44 {
      text-align:left;
color:rgba(0,0,0,1);
height:100%;
width:100%;
    }

.desktop-1920-div-6 {
      align-items:flex-start;
flex-direction:column;
display:flex;
gap:24px;
width:268.79998779296875px;
    }

.desktop-1920-heading-6product {
      width:84px;
text-transform:uppercase;
line-height:15px;
letter-spacing:0.6px;
font-weight:600;
font-size:12px;
opacity:0.5;
    }

.desktop-1920-list-4 {
      font-weight:400;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:17px;
padding-right:117px;
padding-bottom:1px;
box-sizing:border-box;
width:268.8px;
    }

.desktop-1920-item-link-transa {
      width:67px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-transa-1 {
      width:64px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-email {
      width:138px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-layout-45 {
      text-align:left;
color:rgba(0,0,0,1);
height:100%;
width:100%;
    }

.desktop-1920-div-7 {
      align-items:flex-start;
flex-direction:column;
display:flex;
gap:24px;
padding-bottom:41px;
box-sizing:border-box;
width:268.79998779296875px;
    }

.desktop-1920-heading-6resource {
      width:98px;
text-transform:uppercase;
line-height:15px;
letter-spacing:0.6px;
font-weight:600;
font-size:12px;
opacity:0.5;
    }

.desktop-1920-list-5 {
      font-weight:400;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:17px;
padding-right:154px;
padding-bottom:1px;
box-sizing:border-box;
width:268.8px;
    }

.desktop-1920-item-link-api-re {
      width:91px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-status {
      width:62px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-integr {
      width:95px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-knowle {
      width:31px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-layout-46 {
      text-align:left;
color:rgba(0,0,0,1);
height:100%;
width:100%;
    }

.desktop-1920-div-8 {
      align-items:flex-start;
flex-direction:column;
display:flex;
gap:24px;
padding-bottom:41px;
box-sizing:border-box;
width:268.79998779296875px;
    }

.desktop-1920-heading-6company {
      width:66px;
text-transform:uppercase;
line-height:15px;
letter-spacing:0.6px;
font-weight:600;
font-size:12px;
opacity:0.5;
    }

.desktop-1920-list-6 {
      font-weight:400;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:17px;
padding-right:152px;
padding-bottom:1px;
box-sizing:border-box;
width:268.8px;
    }

.desktop-1920-item-link-about {
      width:72px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-write {
      width:81px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-pricin {
      width:48px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-jobs {
      width:76px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-item-link-affili {
      width:117px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-layout-47 {
      width:100%;
    }

.desktop-1920-box_211544211545211546211557x {
      width:562px;
height:351px;
box-sizing:border-box;
display:flex;
gap:5px;
flex-direction:column;
padding-bottom:156px;
    }

.desktop-1920-heading-4lets-ke {
      width:208px;
height:30px;
color:rgba(0,0,0,1);
text-align:left;
line-height:30px;
letter-spacing:-0.6px;
font-weight:700;
font-size:24px;
    }

.desktop-1920-sign-up-for-our-mont {
      width:365px;
height:24px;
color:rgba(0,0,0,1);
text-align:left;
line-height:24px;
font-weight:400;
font-size:16px;
opacity:0.6;
    }

.desktop-1920-form {
      flex-grow:1;
margin-top:11px;
align-items:flex-start;
flex-direction:column;
display:flex;
gap:7px;
width:561.61px;
    }

.desktop-1920-div-ml-field-group {
      align-items:flex-start;
display:flex;
gap:16px;
width:561.61px;
    }

.desktop-1920-div-10 {
      font-weight:400;
text-align:left;
color:rgba(107,114,128,1);
width:396.5799865722656px;
    }

.desktop-1920-div-placeholder {
      flex-grow:1;
box-sizing:border-box;
background-color:rgba(255,255,255,1);
box-shadow:0px 0px 0px 1px rgba(209, 213, 219, 1) inset;
box-shadow-width:1px;
display:flex;
border-radius:6px;
align-items:flex-start;
padding-bottom:18px;
padding-left:21px;
padding-right:241px;
padding-top:18px;
    }

.desktop-1920-your-email-address {
      width:135px;
font-size:15px;
    }

.desktop-1920-div-11 {
      font-weight:500;
text-align:center;
color:rgba(255,255,255,1);
width:149.02999877929688px;
    }

.desktop-1920-button-7 {
      border-radius:6px;
align-items:flex-start;
display:flex;
background-color:rgba(0,163,177,1);
padding-right:34px;
padding-left:34px;
padding-bottom:15px;
padding-top:15px;
box-sizing:border-box;
flex-grow:1;
    }

.desktop-1920-subscribe-3 {
      width:81px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-pblock {
      font-weight:400;
text-align:left;
color:rgba(0,0,0,0.5);
align-items:flex-start;
display:flex;
padding-right:319px;
padding-bottom:1px;
box-sizing:border-box;
width:561.61px;
    }

.desktop-1920-for-more-details-re {
      width:243px;
position:relative;
line-height:1;
    }

.desktop-1920-for-more-details-re-text-0x {
      display:inline;
line-height:18px;
font-size:12px;
    }

.desktop-1920-privacy-policy-text-1x {
      display:inline;
text-decoration:underline;
line-height:18px;
font-size:12px;
    }

.desktop-1920-component-text-2x {
      display:inline;
line-height:18px;
font-size:12px;
    }

.desktop-1920-list-7 {
      margin-top:16px;
align-items:center;
display:flex;
gap:16px;
padding-right:434px;
box-sizing:border-box;
width:561.61px;
    }

.desktop-1920-link-bookie-on-instagram-svg {
      align-items:flex-start;
justify-content:center;
display:flex;
width:20px;
    }

.desktop-1920-frame-1 {
      height:20px;
width:21px;
    }

.desktop-1920-link-bookie-on-twitter-svg {
      align-items:flex-start;
justify-content:center;
display:flex;
width:20px;
    }

.desktop-1920-frame {
      height:20px;
width:21px;
    }

.desktop-1920-div-mt-12x {
      font-weight:400;
text-align:left;
color:rgba(0,0,0,1);
padding-right:1072px;
padding-top:18px;
border-color:rgba(229,231,235,1);
border-bottom-width:0;
border-top-width:2px;
border-right-width:0;
border-left-width:0;
border-style:solid;
box-sizing:border-box;
height:90px;
width:1440px;
    }

.desktop-1920-div-pt-4x {
      align-items:flex-start;
flex-direction:column;
display:flex;
gap:7px;
position:absolute;
padding-top:16px;
box-sizing:border-box;
    }

.desktop-1920-div-block {
      align-items:flex-start;
display:flex;
padding-right:159px;
box-sizing:border-box;
width:368.17px;
    }

.desktop-1920-bookie {
      width:175px;
line-height:24px;
font-size:16px;
    }

.desktop-1920-div-text-sm {
      align-items:flex-start;
display:flex;
gap:27.56px;
padding-bottom:1px;
box-sizing:border-box;
width:368.17px;
    }

.desktop-1920-link-terms-of-serv {
      width:112px;
line-height:24px;
font-size:14px;
    }

.desktop-1920-link-cookies-setti {
      width:112px;
line-height:24px;
font-size:14px;
    }